<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edit Equipament</h2>
            </div>
            <div class="card-body">
                <form action="post" action="/equipaments/update">
                    <input class="form-control" type="text" name="equip_name" placeholder="Edit Equipament" value="<%= Equipament.equip_name %>">
                    <br>
                    <input type="hidden" name="id" value="<%= Equipament.id %>">
                    <button class="btn btn-dark">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>