<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edit Exercise</h2>
        </div>
        <div class="card-body">
            <form action="post" action="/exercises/update">
                <input class="form-control" type="text" name="exerc_name" placeholder="Edit Exercise" value="<%= exercise.exerc_name  %>">
                <br>
                <input type="hidden" name="id" value="<%= exercise.id %>">
                <button class="btn btn-dark">Update</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>